@import url('https://fonts.googleapis.com/css?family=Oswald|Lato');

* {
  padding: 0;
  margin: 0;
}

//SMALLEST SCREEN

div.header {
  background-color: white;
  position: absolute;
  height: 60px;
  width: 100vw;
  top: 0;

}

div.menuBar {
  position: absolute;
  width: 100vw;
  top: 50px;
  background-color: black;
  text-align: center;
}

ul {
  position: absolute;
  width: 100%;
  background-color: black;
  padding: 1px;
  height: 35px;
}

ul li:last-child{
 border: none;
  }

li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-right: thick gray 1px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  height: 15px;
  color: gray;
}

.menuItem:hover{
  color: darkred;
}

img.header_bg {
  visibility: hidden;
}

img.logo {
  position: absolute;
  left: 0px;
}

.mainDiv {
  background-image: url("../assets/bg.jpg");
  display: inline;
  position: absolute;
  top: 100px;
}

.caption {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: .5em;
  font-color: red;
  max-height: 50px;
  overflow: hidden;
  padding: 10px;
}

.subhead {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-top: .5em;
  color: gray;
  padding: 7px;
}

.description {
  padding-left: 7px;
  padding-right: 7px;
}

.story0 {
  background-color: white;
  height: 450px;
  width: 500px;
  margin-bottom: 12px;
  margin-left: 35px;
 }

 .story0:hover {
  outline-style: solid;
  outline-width: 10px;
  outline-color: darkred;
 }

.story1 {
  background-color: white;
  height: 450px;
  width: 500px;
   margin-bottom: 12px;
   margin-left: 35px;
}

 .story1:hover {
  outline-style: solid;
  outline-width: 10px;
  outline-color: darkred;
 }

.story2 {
  background-color: white;
  height: 450px;
  width: 500px;
  margin-bottom: 12px;
  margin-left: 35px;
}

 .story2:hover {
  outline-style: solid;
  outline-width: 10px;
  outline-color: darkred;
 }

.story3 {
  background-color: white;
  height: 450px;
  width: 500px;
  margin-bottom: 12px;
  margin-left: 35px;
}

 .story3:hover {
  outline-style: solid;
  outline-width: 10px;
  outline-color: darkred;
 }

.image {
  position: relative;
  display: block;
  margin: auto;
  width: 98%;
  height: 70%;
  overflow: hidden;
   }

img.thumbs {
  padding: 15px;
  position: absolute;
  max-width: 100%;
}

body {
  background-image: url("../assets/bg.jpg"); }


//MIDDLE SCREEN
@media screen and (min-width: 600px) {

  img.header_bg {
    position: absolute;
    visibility: visible;
    top: 20px;
    left: 230px;
    height: 10px; }

  img.logo {
    position: absolute;
    top: 0px;
    left: 375px;
    height: 60px; }

  .header {
    background-color: white;
    position: ssabsolute;
    height: 80px;
    width: 100%;
    margin-top: -8px;
  }

  .menuBar {
    position: absolute;
    width: 100vw;
    top: 6%;
    text-align: center;
    background-color: black;
  }

  ul {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: black;
    padding: 10px;
  }

  li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-style: none;

  }

  ul li:before {
    content: " \2003\2022\2003\2003";
    font-size: 30px;
    vertical-align: -12%;
  }

  ul li:first-child:before {
   content: none;
    }

  .story0 {
    position: absolute;
    background-color: white;
    top: 50px;
    left: 1px;
    height: 450px;
    width: 350px;
    padding: 25px;
  }

  .story1 {
    position: absolute;
    top: 580px;
    left: 1px;
    height: 450px;
    width: 350px;
    background-color: white;
    padding: 25px;
  }

  .story2 {
    position: absolute;
    top: 50px;
    left: 420px;
    height: 450px;
    width: 350px;
    background-color: white;
    padding: 25px;
  }

  .story3 {
    position: absolute;
    top: 580px;
    left: 420px;
    height: 450px;
    width: 350px;
    background-color: white;
    padding: 25px;
  }
}


//WIDE SCREEN
@media screen and (min-width: 900px) {

  img.header_bg {
    left: 750px;
  }

  img.logo {
    left: 895px;
  }

  div.subhead {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-top: .5em;
    color: gray;
  }

  .story0 {
    position: absolute;
    background-color: white;
    top: 50px;
    left: 280px;
    padding: 25px;
   }

  .story1 {
    position: absolute;
    top: 600px;
    left: 280px;
    background-color: white;
    padding: 25px;
  }

  .story2 {
    position: absolute;
    top: 50px;
    left: 1000px;
    background-color: white;
    padding: 25px;
  }

  .story3 {
    position: absolute;
    top: 600px;
    left: 1000px;
    background-color: white;
    padding: 25px;
  }

  .image {
    position: relative;
    display: block;
    margin: auto;
    width: 98%;
    height: 70%;
    overflow: hidden; }

  img.thumbs {
    position: absolute;
    max-width: 100%; }

  body {
    background-image: url("../assets/bg.jpg");
  }

}