div.header {
  background-color: white;
  position: absolute;
  height: 60px;
  width: 100vw;
  margin-top: -8px; }

div.menuBar {
  position: absolute;
  width: 100vw;
  top: 6%;
  background-color: black;
  text-align: center; }

ul {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: black;
  padding: 0px;
  height: 35px; }

ul li:last-child {
  border: none; }

li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-right: thick gray 1px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  height: 15px;
  color: gray; }

.menuItem:hover {
  color: darkred; }

img.header_bg {
  visibility: hidden; }

img.logo {
  position: absolute;
  left: 0px; }

div.caption {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: .5em;
  font-color: red;
  max-height: 35px;
  overflow: hidden;
  padding: 10px; }

div.subhead {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-top: .5em;
  color: gray;
  padding: 10px; }

div.story0 {
  background-color: white;
  height: 450px;
  width: 350px;
  margin-bottom: 12px; }

div.story1 {
  background-color: white;
  height: 450px;
  width: 350px;
  margin-bottom: 12px;
  margin-left: 150px; }

div.story2 {
  background-color: white;
  height: 450px;
  width: 350px;
  margin-bottom: 12px; }

div.story3 {
  background-color: white;
  height: 450px;
  width: 350px;
  margin-bottom: 12px; }

div.image {
  position: relative;
  display: block;
  margin: auto;
  width: 98%;
  height: 70%;
  overflow: hidden; }

img.thumbs {
  padding: 15px;
  position: absolute;
  max-width: 100%; }

div.mainDiv {
  background-image: url("../assets/bg.jpg");
  display: inline;
  position: absolute;
  top: 100px; }

body {
  background-image: url("../assets/bg.jpg"); }

@media screen and (min-width: 600px) {
  img.header_bg {
    position: absolute;
    visibility: visible;
    top: 37px;
    left: 230px;
    height: 10px; }
  img.logo {
    position: absolute;
    top: 15px;
    left: 375px;
    height: 60px; }
  div.header {
    background-color: white;
    position: absolute;
    height: 80px;
    width: 100vw;
    margin-top: -8px; }
  div.menuBar {
    position: absolute;
    width: 100vw;
    top: 6%;
    text-align: center;
    background-color: black; }
  ul {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: black;
    padding: 10px; }
  li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-style: none; }
  .menuItem:hover {
    color: darkred; }
  ul li:before {
    content: " \2003\2022\2003\2003";
    font-size: 30px;
    vertical-align: -12%; }
  ul li:first-child:before {
    content: none; }
  .mainDiv {
    background-image: url("../assets/bg.jpg"); }
  .story0 {
    position: absolute;
    background-color: white;
    top: 50px;
    left: 25px;
    padding: 25px; }
  .story1 {
    position: absolute;
    top: 580px;
    left: 25px;
    background-color: white;
    padding: 25px; }
  .story2 {
    position: absolute;
    top: 50px;
    left: 460px;
    background-color: white;
    padding: 25px; }
  .story3 {
    position: absolute;
    top: 580px;
    left: 460px;
    background-color: white;
    padding: 25px; } }

@media screen and (min-width: 900px) {
  .menuItem:hover {
    color: darkred; }
  img.header_bg {
    position: absolute;
    top: 37px;
    left: 455px;
    height: 10px; }
  img.logo {
    position: absolute;
    top: 15px;
    left: 600px;
    height: 60px; }
  div.subhead {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-top: .5em;
    color: gray; }
  .story0 {
    position: absolute;
    background-color: white;
    top: 50px;
    left: 225px;
    padding: 25px; }
  .story1 {
    position: absolute;
    top: 600px;
    left: 225px;
    background-color: white;
    padding: 25px; }
  .story2 {
    position: absolute;
    top: 50px;
    left: 710px;
    background-color: white;
    padding: 25px; }
  .story3 {
    position: absolute;
    top: 600px;
    left: 710px;
    background-color: white;
    padding: 25px; }
  div.image {
    position: relative;
    display: block;
    margin: auto;
    width: 98%;
    height: 70%;
    overflow: hidden; }
  img.thumbs {
    position: absolute;
    max-width: 100%; }
  div.mainDiv {
    position: float;
    background-image: url("../assets/bg.jpg"); }
  body {
    background-image: url("../assets/bg.jpg"); } }
