div.header {
  background-color: white;
  height: 70px; }

img.header_bg {
  position: absolute;
  top: 37px;
  left: 520px;
  height: 10px; }

img.logo {
  position: absolute;
  top: 15px;
  left: 660px;
  height: 60px; }

div.caption {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: .5em;
  font-color: red; }

div.subhead {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding-top: .5em;
  color: gray; }

div.story0 {
  position: absolute;
  background-color: white;
  top: 75px;
  left: 250px;
  padding: 25px;
  height: 400px;
  width: 400px; }

div.story1 {
  position: absolute;
  top: 500px;
  left: 250px;
  background-color: white;
  padding: 25px;
  height: 400px;
  width: 400px; }

div.story2 {
  position: absolute;
  top: 75px;
  left: 750px;
  background-color: white;
  padding: 25px;
  height: 400px;
  width: 400px; }

div.story3 {
  position: absolute;
  top: 500px;
  left: 750px;
  background-color: white;
  padding: 25px;
  height: 400px;
  width: 400px; }

div.image {
  position: relative;
  display: block;
  margin: auto;
  width: 98%;
  height: 70%;
  overflow: hidden; }

img.thumbs {
  position: absolute;
  max-width: 100%; }

div.mainDiv {
  position: float;
  background-image: url("../assets/bg.jpg"); }

body {
  background-image: url("../assets/bg.jpg"); }
